body{
	margin:0px;
	padding:0px;
}
ul{
	margin:0;
	padding:0;
	width:100%;
	overflow: hidden;
    background: -webkit-linear-gradient(bottom, rgba(0, 0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(0, 0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(, 0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(0, 0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */

}
ul li{
	list-style: none;
	float:right;
}
ul li a{
	display:block;
	text-decoration: none;
	color:#2196F3;
	font-family: 'Open Sans', sans-serif;
	padding:10px 20px 10px 20px;
}
ul li a:hover{
	background-color:#2196F3;
	color:white;
	background: -webkit-linear-gradient(bottom, rgba(144, 202, 249,0), rgba(144, 202, 249,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(144, 202, 249,0), rgba(144, 202, 249,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(144, 202, 249,0), rgba(144, 202, 249,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(144, 202, 249,0), rgba(144, 202, 249,1)); /* Standard syntax (must be last) */

}
.bar-menu{
	cursor:pointer;
	display: none;
	width:50px;
	margin:50px 0 0 50px ;
}
.bar{
	height:4px;
	width:100%;
	background-color:white;
	margin:5px;
}
.top-bar{display:none;}
@media screen and (max-width: 600px){
	ul{
		display:none;
	}
	ul li{
		float:left;
		width:100%;
	}
	ul li a{
		text-align:center;
		font-size:40px;
		padding:10px;
	}
	.bar-menu{
		display:block;
	}
	.dark-start,.xtra-bar{
		max-width:100%;
	}

}

@media screen and (max-width: 375px){
.top-bar {
    width:130%;
}
}

@media screen and (max-width: 824px){
	.dark-start,.xtra-bar{
		width:824px;
	}
}

.img{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	max-width: 100%;
}
.logo,.ceglogo{
	margin-top:25px;
	margin-left:100px;
}
.ceglogo{
	margin-top:15px;
}
.titlelogo{
	margin-top: 15px;
	margin-left:170px;
}
.logo,.titlelogo,.ceglogo{
	    max-width: 100%;
    height: auto;
    padding:0;
}


@media screen and (max-width: 824px){
	body{
		width:100%;
	}
	.logo,.ceglogo{
		display:none;
	}
	.title-sub{
		margin-left:40px;
	}
	.titlelogo{
		margin-left:40px;
	}
}
@media screen and (max-width: 600px){
	.title-sub{
		margin-left:-10px;
	}
	.sub-ti{
		margin-left:-30px;
	}
	.buttons{
		margin-left:20px;
	}
	.titlelogo{
		margin-left:-10px;
	}
}
@media screen and (max-width: 424px){
	.sub-ti{
		margin-left:-40px;
	}
		.title-sub{
		margin-left:50px;
	}
		.titlelogo{
		margin-left:40px;
	}

}
@media screen and (max-width: 360px){
	.title-sub{
		margin-left:50px;
	}
		.sub-ti{
		margin-left:0px;
	}
		.titlelogo{
		margin-left:55px;
		max-width:360px;
		height:auto;
	}
	
}

